@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.content {
    width: 1180px;
    margin: 20px auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radio-box {
    display: flex;
    width: 100%;    
    margin-bottom: 40px;
    justify-content: space-between;
}

.radio-row .title {
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-size: 14px;
    margin-bottom: 5px;
}

textarea {
    width: 550px;
    outline: none;
    border: 1px solid #000;
    margin-bottom: 30px;
    resize: none;
    background-color: #000;
    color: #FFF;
    padding: 10px;
}

.message-box textarea {
    height: 714px;
}

.generate-box textarea {
    height: 317px;
}

.run {
    width: 220px;
    text-align: center;
    background-color: #97c33a;
    transition: background-color .3s ease;
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    margin: 5px auto 0 auto;
}

.run:hover {
    background-color: #a5d443;
}